.container_carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 20;
    box-shadow: 4px 10px 13px -12px;
    width: 60%;
    border-radius: 25px;

    #cantidad_pizza {
        display: flex;
        justify-content: space-around;
        width: 20vh;

    }


}

@media (max-width: 768px) {
    .container_carrito {
        width: 100%;
        width: 100%;
        flex-direction: column;
        height: 45vh;
    }
}

.container_carrito_primary {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.container_Dont_Have_Pizza {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
}

.msg_Dont_Have_Pizza {
    background-color: coral;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.msg_Dont_Have_Pizza a {
    text-decoration: none;
    color: burlywood;
}

@media (max-width: 768px) {
    .container_carrito {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        overflow-x: scroll;
        height: 20;
    }
}